@page "/fetchdata"

@using Blazor_NPOI_Excel.Data
@inject WeatherForecastService ForecastService
@inject ExcelServices ExcelService
@inject HzxxServices HzxxService

<h1>核酸报告单</h1>

<p>自助打印</p>





@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <iframe id="iframepdf" src="test.pdf" style="width:100%;height:1000px"></iframe>
    <table class="table">
        <thead>
            <tr>
                <th>日期</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        ExcelService.test();
        await HzxxService.Get_hzxx();

    }
}
