################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Openiddicttest/.vs/Openiddicttest
/Openiddicttest/Openiddicttest.Server/bin/Debug/net5.0
/Openiddicttest/Openiddicttest.Server/obj
/Openiddicttest/Openiddicttest.Client/bin/Debug/net5.0
/Openiddicttest/Openiddicttest.Client/obj
/OpenIddictTestBlazor/.vs/OpenIddictTestBlazor
/OpenIddictTestBlazor/OpenIddictTestBlazor/Client/bin/Debug/net5.0
/OpenIddictTestBlazor/OpenIddictTestBlazor/Client/obj
/OpenIddictTestBlazor/OpenIddictTestBlazor/Server/bin/Debug/net5.0
/OpenIddictTestBlazor/OpenIddictTestBlazor/Server/obj
/OpenIddictTestBlazor/OpenIddictTestBlazor/Shared/bin/Debug/net5.0
/OpenIddictTestBlazor/OpenIddictTestBlazor/Shared/obj
/BlazorIdentityServer/.vs/BlazorIdentityServer
/BlazorIdentityServer/BlazorIdentityServer.Client/bin/Debug/net5.0
/BlazorIdentityServer/BlazorIdentityServer.Client/obj
/BlazorIdentityServer/BlazorIdentityServer.Server/bin/Debug/net5.0
/BlazorIdentityServer/BlazorIdentityServer.Server/obj
/Blazor_NPOI_Excel/.vs/Blazor_NPOI_Excel
/Blazor_NPOI_Excel/Blazor_NPOI_Excel/bin/Debug/net5.0
/Blazor_NPOI_Excel/Blazor_NPOI_Excel/obj
/TinyMCEBlazor/.vs/TinyMCEBlazor
/TinyMCEBlazor/TinyMCEBlazor/Client/obj
/TinyMCEBlazor/TinyMCEBlazor/Server/obj
/TinyMCEBlazor/TinyMCEBlazor/Shared/obj
/TinyMCEBlazor/TinyMCEBlazor/Client/bin/Debug/net5.0
/TinyMCEBlazor/TinyMCEBlazor/Server/bin/Debug/net5.0
/TinyMCEBlazor/TinyMCEBlazor/Shared/bin/Debug/net5.0
/BilibiliDownLoadFileRename/BilibiliDownLoadFileRename/bin
/BilibiliDownLoadFileRename/BilibiliDownLoadFileRename/obj
/BlazorWASM_AntDesign/BlazorWASM_AntDesign/Client/bin/Debug/net5.0
/BlazorWASM_AntDesign/BlazorWASM_AntDesign/Client/obj
/BlazorWASM_AntDesign/.vs/BlazorWASM_AntDesign
/BlazorWASM_AntDesign/BlazorWASM_AntDesign/Server/bin/Debug/net5.0
/BlazorWASM_AntDesign/BlazorWASM_AntDesign/Server/obj
/BlazorWASM_AntDesign/BlazorWASM_AntDesign/Shared/bin/Debug/net5.0
/BlazorWASM_AntDesign/BlazorWASM_AntDesign/Shared/obj
/BlazorServerCoutomIdentity/.vs/BlazorServerCoutomIdentity
/BlazorServerCoutomIdentity/BlazorServerCoutomIdentity/obj
/BlazorServerCustomIdentity/.vs/BlazorServerCustomIdentity/v16
/BlazorServerCustomIdentity/BlazorServerCustomIdentity/obj
/BlazorServerWithIdentity/.vs/BlazorServerWithIdentity/v16
/BlazorServerWithIdentity/BlazorServerWithIdentity/obj
/BlazorServerWithIdentity/BlazorServerWithIdentity/bin/Debug/net5.0
/BlazorServerCustomIdentity/BlazorServerCustomIdentity/bin/Debug/net5.0
