################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Openiddicttest/.vs/Openiddicttest
/Openiddicttest/Openiddicttest.Server/bin/Debug/net5.0
/Openiddicttest/Openiddicttest.Server/obj
/Openiddicttest/Openiddicttest.Client/bin/Debug/net5.0
/Openiddicttest/Openiddicttest.Client/obj
/OpenIddictTestBlazor/.vs/OpenIddictTestBlazor
/OpenIddictTestBlazor/OpenIddictTestBlazor/Client/bin/Debug/net5.0
/OpenIddictTestBlazor/OpenIddictTestBlazor/Client/obj
/OpenIddictTestBlazor/OpenIddictTestBlazor/Server/bin/Debug/net5.0
/OpenIddictTestBlazor/OpenIddictTestBlazor/Server/obj
/OpenIddictTestBlazor/OpenIddictTestBlazor/Shared/bin/Debug/net5.0
/OpenIddictTestBlazor/OpenIddictTestBlazor/Shared/obj
/BlazorIdentityServer/.vs/BlazorIdentityServer
/BlazorIdentityServer/BlazorIdentityServer.Client/bin/Debug/net5.0
/BlazorIdentityServer/BlazorIdentityServer.Client/obj
/BlazorIdentityServer/BlazorIdentityServer.Server/bin/Debug/net5.0
/BlazorIdentityServer/BlazorIdentityServer.Server/obj
